
body {
    background-color:#333;
    color:white;
    font: 70% "Trebuchet MS", sans-serif;
}
#simulator-container {
    position: absolute;
    margin-left: 250px;
    top: 50px
}

#device-container {
    background-color:#222;
    margin:auto;
    position:relative;
    border:solid rgba(204,204,204,0.9);
    -webkit-border-radius:20px;
    border-radius:20px;
    padding:30px 20px 50px 20px;width:320px;
}

#viewport-container {
    border:2px solid rgba(204,204,204,0.75);
    -webkit-border-radius:5px;
    border-radius:5px;
    position:relative;
    overflow:hidden;
    padding:0px;
    margin:auto;
    width:inherit;
    height:inherit;
}
#moodle-site {
    width:inherit;
    height:inherit;
}
#options-menu {
    width: 240px;
}
.ul-clean {
    list-style: none;
    padding: 0px;
}

/* jQuery UI changes*/

.ui-accordion .ui-accordion-content {
    padding: 1em;
}